@node-color: #1890ff;
@line-width: 1px;
@line-color: @node-color;

.orgChartContainer {
  display: inline-block;

  :global {
    table {
      border-collapse: separate;
      border-spacing: 0;
      line-height: 1.5715;

      tr {
        &.lines td {
          height: 20px;

          .vertical {
            width: @line-width;
            height: 100%;
            background-color: @line-color;
            display: inline-block;
          }

          &.left {
            border-right: @line-width solid @line-color;
          }

          &.right {
            border-left: @line-width solid transparent;
          }

          &.top {
            border-top: @line-width solid @line-color;
          }
        }
      }

      td {
        text-align: center;
        padding: 0;
        vertical-align: top;

        .node {
          display: inline-block;
          border: 1px solid @node-color;
          padding: 0 0.5rem;
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
  }
}
